/*** Header first
    ------------------------------------------ ***/
* {
  font-family: "Source Sans Pro" !important;
}
header {
  background-image: url("images/pic_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: auto;
  height: 30px;
}

.nav-item {
  font-size: 12px !important;
}

header a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: #c371ff !important;
}

.btn {
  background-color: #c271ff !important;
  border-color: #c271ff !important;
  font-size: 14px;
}

.btn:hover,
.btn:active {
  background-color: #c271ff !important;
  border-color: #c271ff !important;
  opacity: 0.9;
}

.users-section {
  margin-top: 8rem;
}

.text-violet {
  color: #c271ff;
}

.users {
  margin: 5rem 0;
}

.users img {
  width: 75% !important;
  height: auto;
}

#nav-menu-btn {
  background-color: white;
  width: 13px;
  height: 2px;
  position: absolute;
  top: 3rem;
}

#nav-menu-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: relative;
  top: -0.5rem;
}

#nav-menu-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  position: relative;
  top: 0.4rem;
}

@media (max-width: 768px) {
  header {
    background-position: 50% 50%;
  }

  .users img {
    width: 75% !important;
    height: auto;
  }
}

@media (max-width: 576px) {
  header {
    background-position: 45% 50%;
  }

  .hamburger {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  #nav-toggle:checked ~ .hamburger {
    max-height: 100vh;
    overflow: hidden;
  }

  .display-1 {
    font-size: 4rem;
  }

  .users .h5 {
    font-size: 1.1rem;
  }
}

/*** Carousel of quotes
    -------------------------------------- ***/

.bg-violet {
  background-color: #c271ff !important;
}

/*** Most popular tutorials
    -------------------------------------- ***/

.video-card {
  width: 250px;
}

img.circle-thumb {
  width: 150px;
  height: 150px;
}

img.logo {
  height: 30px;
}

img.star {
  height: 15px;
  width: 15px;
}

img.circle-thumb-small {
  width: 50px;
  height: 50px;
}

/*** Free membership
    ------------------------------------ ***/

.bg-sectionfree {
  background-color: #071629;
}

/*** footer
    ------------------------------------ ***/

.social > svg {
  fill: white;
}

/*** header/hero piece
    ------------------------------------- ***/

.pricing {
  background-image: url("images/pic_2.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** header/hero piece
    -------------------------------------- ***/

.courses {
  background-image: url("images/pic_3.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.tcourse {
  font-size: 32px;
  font-family: "Coiny" !important;
  font-weight: 400;
}

/*** filters section
    ------------------------------------- ***/

.search-icon {
  font-family: "holberton_school-icon";
  font-size: 15px;
}

.search-filter {
  background-color: #d195ff;
  border-radius: 3px;
}

/*** my loader */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #c271ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
